html {
  background: #E5E5E5;
}

body {
	font-family: "Proxima Nova", "proxima-nova", sans-serif;
	text-align: center;
}

.card {
  background: white;
  width: 400px;
  padding: 50px 80px 60px;
  margin: 40px auto;
  box-shadow: 0 0 25px rgba(0,0,0,0.15);
}

.container {
	position: relative;
	top: 30px;
}

.hmm {
	font-size: 72px;
}

.question {
	font-size: 32px;
	margin-top: 5px;
	margin-bottom: -15px;
}

.answer {
	font-size: 80px;
	font-weight: bold;
	margin: 40px 0 0;
}